<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="" method="post">
        <label for="email">Enter email: </label>
        <input type="email" name="email" id="">
        <br>
        <label for="password">Enter password: </label>
        <input type="password" name="password" id="">
        <br>
        <input type="submit" name="submit" id="submit">
    </form>
</body>
</html>
