<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="./js/index.js"></script>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

</head>
<body onload="callApi()">
    <!-- NavBar -->
    <nav class="navbar sticky-top navbar-light" style="background-color: #828689;">
        <div class="container-fluid">
            <div style="background-color: white; height: 2.5rem;"><a class="navbar-brand">Home</a></div>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container-fluid">
        <!-- Top 10 Songs -->
        <div>
            <p class="" style="font-size: 30px; font-weight: bold;">Top 10 Songs <button onclick="location.href = 'http://localhost:8080/app/add_song';" style="font-size: 15px;">+ Add Song</button></p>
        </div>

        <table class="table" id="topSongs">
            <tr>
                <th>ArtWork</th>
                <th>Song</th>
                <th>Date of Realease</th>
                <th>Artists</th>
                <th>Rate</th>
            </tr>
            
        </table>

        <!-- Top 10 Artists -->
        <div>
            <p class="" style="font-size: 30px; font-weight: bold;">Top 10 Artists </p>
        </div>

        <table class="table" id="topArtists">
            <tr>
                <th>Artists</th>
                <th>Date of Birth</th>
                <th>Songs</th>
            </tr>
            
        </table>
    </div>
</body>
</html>
